<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đề tài đã làm được</title>
    <!-- Import boostrap and Jquery -->
    <script src="../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style2.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/styles1.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/responsive.css">
    <!-- Tạo icon trên Title -->
    <link rel="icon" href=".././static/img/favicon.ico" type="image/x-icon">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a href="#" , class="navbar-branch">
            <img src="../static/img/dhbk.png" height="60" alt="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse container-fluid" style="margin-right: 3%;">
            <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#">Trang chủ</a></li>
                <li><a href="#">Đề tài</a>
                    <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                        <li style="height: 40%; width: 100%;">
                            <a th:href="@{'/listHuongDan/' + ${user.getTaiKhoan()}}">Danh sách hướng dẫn</a>
                        </li>
                        <li>
                            <a th:href="@{'/themDeTai/' + ${user.getTaiKhoan()}}">Thêm đề tài mới</a>
                        </li>
                        <li>
                            <a th:href="@{'/listChoHuongDan/' + ${user.getTaiKhoan()}}">Danh sách chưa có hướng dẫn</a>
                        </li>
                        <li>
                            <a th:href="@{'/listYeuCauPheDuyet/' + ${user.getTaiKhoan()}}">Danh sách yêu cầu phê duyệt</a>
                        </li>
                        <li>
                            <a th:href="@{'/listDeTaiCham/'+ ${user.getTaiKhoan()}}">Danh sách chấm</a>
                        </li>
                        <li>
                            <a th:href="@{'/deTaiDangThucHien/canbo/' + ${user.getTaiKhoan()}}">Danh sách đề tài đang thực hiện</a>
                        </li>
                        <li>
                            <a th:href="@{'/dangKyLamNghienCuu/' + ${user.getTaiKhoan()}}">Đăng kí nghiên cứu khoa học</a>
                        </li>
                        <li>
                            <a th:href="@{'/deTaiDaLamDuoc/' + ${user.getTaiKhoan()}}">Danh sách đề tài đã làm được</a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{'/danhSachBaiBao/' + ${user.getTaiKhoan()}}">Bài báo</a></li>
                <li><a href="#">Tài khoản</a>
                    <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                        <li>
                            <a th:href="@{'/doimatkhau/' + *{user.getTaiKhoan()}}" style="width:100%">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a th:href="@{'/changePersonInfo/' + ${user.getTaiKhoan()}}" style="width:100%">Đổi thông tin cá nhân</a>
                        </li>
                        <li><a th:href="@{'/login'}">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
            <!-- End : Nav -->
        </div>
    </nav>
    <div class="container-fluid">
        <h3 style="margin-top: 20px; margin-left: 12.5%;">Danh sách đề tài đã làm được </h3>
        <div th:if="${detai}">
            <div class="table-responsive" style="margin-top: 20px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr style="background-color: #BE81F7;">
                            <th scope="col">Tên đề tài</th>
                            <th scope="col">Chi tiết đề tài</th>
                            <th scope="col">Ngày hoàn thành</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr th:each="element : ${detai}">
                                <td th:text="${element.first.getTenDeTai()}"></td>
                                <td><a th:href="@{'/chiTietDeTai/' + ${pageold} + '/' + ${element.first.getIDDeTai()} + '/' + ${user.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px;  width: 35%; text-align: center; ">Chi tiết</a></td>
                                <td th:text="${element.second.getNgayHoanThanh()}"></td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
                <a th:if="${user.getRole().equals('3')}" th:href="@{'/canbo/' + ${user.getTaiKhoan()}}" class="btn btn-primary" style="border-radius: 10px; margin-top: 10px; width: 10%; margin-left: 12.5%;">Trở về</a>
                <a th:if="${user.getRole().equals('4')}" th:href="@{'/nghiencuusinh/' + ${user.getTaiKhoan()}}" class="btn btn-primary" style="border-radius: 10px; margin-top: 10px; width: 10%; margin-left: 12.5%;">Trở về</a>
            </div>
        </div>
    </div>
    <div style="margin-top: 17%;">
        <hr>
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h5>Liên lạc với nhóm</h5>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.facebook.com/Duawww"><i class="fab fa-facebook"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.instagram.com/duaww/"><i class="fab fa-instagram"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.youtube.com/watch?v=LMnJG3Oxrrw"><i class="fab fa-youtube"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/scripts1.js"></script>

</body>

</html>