<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin người dùng</title>
    <!-- Import boostrap and Jquery -->
    <script src="../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style2.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/styles1.css">
    <!-- Tạo icon trên Title -->
    <link rel="icon" href=".././static/img/favicon.ico" type="image/x-icon">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a href="#" , class="navbar-branch">
            <img src="../static/img/dhbk.png" height="60" alt="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right:0%; margin-left: 0%;">
            <div class="navbar-collapse" >
                <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tài khoản</a>
                        <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                            <li style="height: 40%; width: 100%;">
                                <a th:href="@{'/doimatkhau/' + ${accViewer.getTaiKhoan()}}">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a th:href="@{'/changePersonInfo/' + ${accViewer.getTaiKhoan()}}">Thay đổi thông tin cá nhân</a>
                            </li>
                            <li>
                                <a th:href="@{'/login'}">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/listhoidong/' + *{user.getTaiKhoan()}}">Danh sách hội đồng</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/listcanbo/' + *{user.getTaiKhoan()}}" class="nav-link">Danh sách cán bộ</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/listncsinh/' + *{user.getTaiKhoan()}}" class="nav-link">Danh sách nghiên cứu sinh</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid form-text">
        <h3 style="margin-top: 20px; color: black; margin-left: 12.5%;">Thông tin cá nhân </h3>
        <div class="table-responsive" style="margin-top: 20px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color: #BE81F7;">
                        <th scope="col">Tên</th>
                        <th scope="col">Tài khoản</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col" th:if="${user.getRole().equals('3')}">Lĩnh vực</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr th:object="${user}">
                            <td th:text="*{getTen()}"></td>
                            <td th:text="*{getTaiKhoan()}"></td>
                            <td th:text="*{getDiaChi()}"></td>
                            <td th:text="*{getGioiTinh()} ? 'Nam' : 'Nữ'"></td>
                            <td>
                                <span th:if="*{getTrangThai().equals('mo')}" th:text="'Mở'"></span>
                                <span th:if="*{getTrangThai().equals('khoa')}" th:text="'Khóa'"></span>
                            </td>
                            <td th:if="${user.getRole().equals('3')}">
                                <select th:if="${linhvuc}">
                                    <option th:each="element : ${linhvuc}" th:text="${element.getTenLinhVuc()}"></option>
                                </select>
                                <select th:if="!${linhvuc}">
                                    <option th:text="'Chưa có lĩnh vực'"></option>
                                </select>
                            </td>
                        </tr>
                    </tr>
                </tbody>

            </table>
            <div style="margin-left: 12.5%;">
                <a th:href="'/' + ${pageold} + '/' + ${whoFollow.getTaiKhoan()}" class="btn btn-primary" style="border-radius: 10px; margin-top: 20px; width: 15%;">Trở về</a>
                <a th:href="${'/suathongtin/' + {pageold} + '/' + {user.getTaiKhoan()} + '/' + {whoFollow.getTaiKhoan()}}" class="btn btn-primary" style="border-radius: 10px; margin-top: 20px; width: 15%;">Sửa thông tin</a>
                <form name="changeStatus" th:action="@{'/information/' + ${pageold} + '/' + ${user.getTaiKhoan()} + '/' + ${whoFollow.getTaiKhoan()}}" method="POST" onsubmit="return lock()">
                    <div th:field="*{TrangThai}">
                        <input type="hidden" name="TrangThai" th:value="*{TrangThai}">
                        <div th:if="${#strings.equals(user.getTrangThai(), 'mo')}">
                            <input type="submit" value="Khoá tài khoản" class="btn btn-primary" style="border-radius: 10px; margin-top: 10px; width: 15%;">
                        </div>
                        <div th:if="${#strings.equals(user.getTrangThai(), 'khoa')}">
                            <input type="submit" value="Mở tài khoản" class="btn btn-primary" style="border-radius: 10px; margin-top: 10px; width: 15%;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="margin-top: 13%;">
        <hr>
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h5>Liên lạc với nhóm</h5>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.facebook.com/Duawww"><i class="fab fa-facebook"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.instagram.com/duaww/"><i class="fab fa-instagram"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.youtube.com/watch?v=LMnJG3Oxrrw"><i class="fab fa-youtube"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        var user = [
            [$ {
                user
            }]
        ];

        function lock() {
            let status = user.trangThai;
            if (status == "mo") {
                var confirmForm = confirm("Bạn có muốn khóa tài khoản " + user.taiKhoan);
                if (confirmForm) {
                    document.forms["changeStatus"]["TrangThai"].value = "khoa";
                } else {
                    return false;

                }
            } else {
                var confirmForm = confirm("Bạn có muốn mở tài khoản " + user.taiKhoan);
                if (confirmForm) {
                    document.forms["changeStatus"]["TrangThai"].value = "mo";
                } else {
                    return false;
                }
            }
            return true;
        }
    </script>

    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/scripts1.js"></script>
</body>

</html>