<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đề tài</title>
    <!-- Import boostrap and Jquery -->
    <script src="../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style2.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/styles1.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/responsive.css">
    <!-- Tạo icon trên Title -->
    <link rel="icon" href=".././static/img/favicon.ico" type="image/x-icon">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a href="#" class="navbar-branch">
            <img src="../static/img/dhbk.png" height="60" alt="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 11%;">
            <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{'/hoidong/' + ${viewer.getTaiKhoan()}}">Trang chủ</a></li>
                <li><a href="#">Tài khoản</a>
                    <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                        <li style="height: 40%; width: 100%;">
                            <a th:href="@{'/doimatkhau/' + ${viewer.getTaiKhoan()}}">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a th:href="@{'/changePersonInfo/' + ${viewer.getTaiKhoan()}}">Thay đổi thông tin cá nhân</a>
                        </li>
                        <li>
                            <a th:href="@{'/login'}">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link " th:href="@{ '/hoidongchamthi/' + ${viewer.getTaiKhoan()}} ">Hội đồng chấm thi</a></li>
                <li><a href="#">Đề tài</a>
                    <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                        <li>
                            <a th:href="@{ '/listDeTai/' + ${viewer.getTaiKhoan()}} " style="width:100%">Danh sách đề tài</a>
                        </li>
                        <li>
                            <a th:href="@{ '/dangThucHien/' + ${viewer.getTaiKhoan()}} " style="width:100%">Danh sách đề tài đang thực hiện</a>
                        </li>
                        <li>
                            <a th:href="@{ '/daHoanThanh/' + ${viewer.getTaiKhoan()}} " style="width:100%">Danh sách đề tài đã hoàn thành</a>
                        </li>
                        <li><a class="nav-link " th:href="@{ '/danhsachdacham/' + ${viewer.getTaiKhoan()}} ">Danh sách đề tài đã chấm</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid form-text">
        <h3 style="margin-top: 20px;color: black; margin-left: 12.5%;">Danh sách đề tài </h3>
        <div style="margin-left: 12.5%;">
            <form name="formFilter" th:action="@{/listDeTai/{account}(account=${viewer.getTaiKhoan()})}" style="margin-top: 20px;" method="post" onsubmit="return validateForm()">
                <label style="color: black;"><strong>Chọn trạng thái muốn lọc</strong></label>
                <select name="field" id="fields" style="height: 35px;">
                    <option value="all">Tất cả</option>
                    <option value="OK">OK</option>
                    <option value="dangxet">Đang xét</option>
                    <option value="chuaxet">Chưa xét</option>
                </select>
                <span th:field="${status}">
                    <input type="hidden" name="status" th:value="${status}">
                </span>
                <input type="submit" name="form_filter" value="Lọc" class="btn btn-primary" style="border-radius: 10px; margin-top: -0.5%;">
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div th:if="${list}">
            <div class="table-responsive" style="margin-top: 20px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr style="background-color: #BE81F7;">
                            <th scope="col">Tên đề tài</th>
                            <th scope="col">Tên cán bộ hướng dẫn</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Chi tiết đề tài</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr th:each="element : ${list}">
                                <td th:text="${element.first.getTenDeTai()}"></td>
                                <td>
                                    <span th:if="${element.second.getTen()}" th:text="${element.second.getTen()}"></span>
                                    <span th:if="!${element.second.getTen()}" th:text="'Chưa có người hướng dẫn'"></span>
                                </td>
                                <td>
                                    <span th:if="${element.first.getTrangThai().equals('OK')}" th:text="'OK'"></span>
                                    <span th:if="${element.first.getTrangThai().equals('dangxet')}" th:text="'Đang xét'"></span>
                                    <span th:if="${element.first.getTrangThai().equals('chuaxet')}" th:text="'Chưa xét'"></span>
                                </td>
                                <td><a th:href="@{'/chiTietDeTai/' + ${pageold} + '/' + ${element.first.getIDDeTai()} + '/' + ${viewer.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px;  width: 50%; text-align: center; ">Chi tiết</a></td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{'/themDanhSachDeTai/' + ${viewer.getTaiKhoan()}}" class="btn btn-primary" style="border-radius: 10px; margin-top: 20px; width: 13%; margin-left: 12.5%;">Thêm danh sách đề tài mới</a>
                <br>
                <a th:href="@{'/hoidong/' + ${viewer.getTaiKhoan()}}" class="btn btn-primary" style="border-radius: 10px; margin-top: 20px; width: 13%; margin-left: 12.5%;">Trở về</a>
            </div>
        </div>
    </div>
    <div style="margin-top: 12%;">
        <hr>
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h5>Liên lạc với nhóm</h5>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.facebook.com/Duawww"><i class="fab fa-facebook"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.instagram.com/duaww/"><i class="fab fa-instagram"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.youtube.com/watch?v=LMnJG3Oxrrw"><i class="fab fa-youtube"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        function validateForm() {
            var choice = document.getElementById("fields");
            console.log(choice);
            document.forms["formFilter"]["status"].value = choice.options[choice.selectedIndex].value;
            return true;
        }
    </script>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/scripts1.js"></script>
</body>

</html>