<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Phân công chấm</title>
    <!-- Import boostrap and Jquery -->
    <script src="../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/style2.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/styles1.css">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/dist/css/responsive.css">
    <!-- Tạo icon trên Title -->
    <link rel="icon" href=".././static/img/favicon.ico" type="image/x-icon">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a href="#" , class="navbar-branch">
            <img src="../static/img/dhbk.png" height="60" alt="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="navbar-collapse container-fluid" style="margin-right: 10%;">
            <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{'/hoidong/' + ${user.getTaiKhoan()}}">Trang chủ</a></li>
                <li><a href="#">Tài khoản</a>
                    <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                        <li style="height: 40%; width: 100%;">
                            <a th:href="@{'/doimatkhau/' + ${user.getTaiKhoan()}}">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a th:href="@{'/changePersonInfo/' + ${user.getTaiKhoan()}}">Thay đổi thông tin cá nhân</a>
                        </li>
                        <li>
                            <a th:href="@{'/login'}">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link " th:href="@{ '/hoidongchamthi/' + ${user.getTaiKhoan()}} ">Hội đồng chấm thi</a></li>
                <li><a href="#">Đề tài</a>
                    <ul class="sub-nav" style="padding-left: 0; padding-right: 0;">
                        <li>
                            <a th:href="@{ '/listDeTai/' + ${user.getTaiKhoan()}} " style="width:100%">Danh sách đề tài</a>
                        </li>
                        <li>
                            <a th:href="@{ '/dangThucHien/' + ${user.getTaiKhoan()}} " style="width:100%">Danh sách đề tài đang thực hiện</a>
                        </li>
                        <li>
                            <a th:href="@{ '/daHoanThanh/' + ${user.getTaiKhoan()}} " style="width:100%">Danh sách đề tài đã hoàn thành</a>
                        </li>
                        <li><a class="nav-link " th:href="@{ '/danhsachdacham/' + ${user.getTaiKhoan()}} ">Danh sách đề tài đã chấm</a></li>
                    </ul>
                </li>
            </ul>
            <!-- End : Nav -->
        </div>
    </nav>
    <div class="container-fluid form-text">
        <form name="themHoiDongCham" th:action="@{'/phanCongCham/' + ${detai.getIDDeTai()} + '/' + ${viewer.getTaiKhoan()}}" method="post" onsubmit="return validateForm()">
            <h3 style="margin-top: 20px; color: black; margin-left: 12.5%;">Chọn cán bộ chấm thi cho đề tài
                <p th:text="${detai.getTenDeTai()}"></p>
            </h3>
            <div class="table-responsive" style="margin-top: 20px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr style="background-color: #BE81F7;">
                            <th scope="col">Tên</th>
                            <th scope="col">Tài khoản</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Lĩnh vực</th>
                            <th scope="col">Chấm thi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="canbo : ${linhVucCuaCanBo}">
                            <td th:text="${canbo.key.getTen()}"></td>
                            <td th:text="${canbo.key.getTaiKhoan()}"></td>
                            <td th:text="${canbo.key.getDiaChi()}"></td>
                            <td>
                                <select style="margin-top: 4%; ">
                                    <option th:each="linhvuc : ${canbo.value}" th:text="${linhvuc.getTenLinhVuc()}"></option>
                                </select>
                            </td>
                            <td>
                                <input class="checkList" type="checkbox" th:value="${canbo.key.getID()}" th:checked="${hoidongcham.contains(canbo.key.getID())}" style="border-radius: 10px; margin-top: 10px; width: 40%;  height: 20px">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span th:field="${checked}">
                    <input type="hidden" name="checked" th:value="${checked}">
                </span>
                <span th:field="${notChecked}">
                    <input type="hidden" name="notChecked" th:value="${notChecked}">
                </span>
                <input type="submit" value="Thay đổi" class="btn btn-primary " style="border-radius: 10px; margin-top: 20px; width: 10%; margin-left: 12.5%; ">
                <a th:href="@{'/dangThucHien/' + ${viewer.getTaiKhoan()}}" class="btn btn-primary " style="border-radius: 10px; margin-top: 20px; width: 10%; ">Trở về</a>
            </div>
        </form>
    </div>
    <div style="margin-top: 17%;">
        <hr>
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h5>Liên lạc với nhóm</h5>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.facebook.com/Duawww"><i class="fab fa-facebook"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.instagram.com/duaww/"><i class="fab fa-instagram"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p>
                </div>
                <div class="col-md-4 social padding">
                    <a href="https://www.youtube.com/watch?v=LMnJG3Oxrrw"><i class="fab fa-youtube"></i></a>
                    <p style="font-size: medium; color: black;">Nguyễn Thanh Tính</p> </div>
                </div>
            </div>
    </div>

    <script th:inline="javascript">
        var check = false;
        var checkList = [];
        window.onload = function() {
            var chamRoi = [
                [$ {
                    chamRoi
                }]
            ];
            check = chamRoi;
            checkList = document.getElementsByClassName('checkList');
            checkList = Object.values(checkList);
            checkList = checkList.filter(function(element) {
                return element.checked == true;
            });
        }

        function validateForm() {
            if (check == true) {
                alert("Đề tài đã được cán bộ chấm nên không thể thay đổi");
                var inputElements = document.getElementsByClassName('checkList');
                for (var i = 0; i < inputElements.length; i++) {
                    if (checkList.includes(inputElements[i])) {
                        inputElements[i].checked = true;
                    } else {
                        inputElements[i].checked = false;
                    }
                }
                return false;
            } else {
                let Checked = "";
                let notCheck = "";
                var inputElements = document.getElementsByClassName('checkList');
                for (var i = 0; i < inputElements.length; i++) {
                    if (inputElements[i].checked) {
                        // checkedValue = inputElements[i].value;
                        Checked = Checked + "/" + inputElements[i].value;
                    } else {
                        notCheck = notCheck + "/" + inputElements[i].value;
                    }
                }
                document.forms["themHoiDongCham"]["checked"].value = Checked;
                document.forms["themHoiDongCham"]["notChecked"].value = notCheck;
                alert("Phân công người chấm thành công");
                return true;
            }
        }
    </script>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-5.0.0/dist/js/scripts1.js"></script>
</body>

</html>